$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire: #99E2D0;
$color_grey:  #353535;
$color_white: white;
$color_grey4: #7E7E7E;
$color_black: black;
$color_green: green;
$background-primaire: #9356DC;
$background-tertiaire: #99E2D0;
$background-color_white: white;
$background-color_grey:  #353535;
$background-grey1: #F6F6F6;
$background-grey2:#EAEAEA;
