footer {
	background-color: $background-color_7;
	color: $color_2;
	a {
		text-decoration: none;
		color: $color_2;
		font-family: $font-family_1;
		font-size: 14px;
	}
	i {
		padding-right: 0.7em;
		font-size: 12px;
	}
	h3 {
		font-family: $font-family_2;
		margin-bottom: 0;
		padding-left: 1em;
		padding-top: 1em;
		font-size: 14px;
	}
	>ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding-left: 1em;
		padding-bottom: 2em;
	}
}