.header-index {
	display: flex;
	padding-top: 1em;
	align-items: center;
	flex-direction: column;

}
.logo {
	padding-bottom: 0.8em;
	padding-top: 0.7em;
	width: 100%;
	display: flex;
	justify-content: center;
	img {
		width: 12em;
	}
}
.location {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	background-color: $background-color_1;
	height: 3.5em;
	input {
		outline: none;
		background-color: $background-color_1;
		border: none;
		text-align: center;
	}
	i {
		color: $color_1;
		margin-left: 2.5em;
	}
}
.header-menus {
	display: flex;
	align-items: center;
	padding: 1em;
	i {
		color: $color_4;
		font-size: 20px;
	}
}