/* PAGE D'ACCUEIL*/

.header-index {
	display: flex;
	padding-top: 1em;
	align-items: center;
		.logo {
		padding-bottom: 0.8em;
		padding-top: 0.7em;
		width: 100%;
		display: flex;
		justify-content: center;
		img {
			width: 12em;
		}
	}
}

/*LES MENUS*/

.header-menus {
	display: flex;
	padding-top: 1em;
	align-items: center;
		a{
			i{
				padding: 2em;
				font-weight: bold;
				font-size: 20px;
			}
		}
		.logo {
		padding-bottom: 0.8em;
		padding-top: 0.7em;
		width: 100%;
		display: flex;
		justify-content: center;
		img {
			width: 12em;
		}
	}
}