body {
	margin: 0;
}
/*.main_container1{
	animation: loading-wait 4s;

}
@keyframes loading-wait{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.loader_container{
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #99E2D0;
	animation: opacity 3.5s;
.dot{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #9356DC;
	margin: 0 15px;
	animation: loader 0.2s infinite alternate ;
}
.d2{
	animation-delay: 0.05s;
}
.d3{
	animation-delay: 0.01s;
}
}
@keyframes loader{
	100%{
		transform: translateY(-30px);
	}
}

@keyframes opacity{
	0%{opacity: 1;}
	90%{opacity: 1;}
	100%{opacity: 0;}
}


*/
.header-index {
	display: flex;
	padding-top: 1em;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}
.logo {
	padding-bottom: 0.8em;
	padding-top: 0.7em;
	width: 100%;
	display: flex;
	justify-content: center;
	img {
		width: 12em;
	}
}
.location {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	background-color: $background-color_1;
	height: 3.5em;
	input {
		outline: none;
		background-color: $background-color_1;
		border: none;
		text-align: center;
	}
	i {
		color: $color_1;
		margin-left: 2.5em;
	}
}
.main {
	font-family: $font-family_1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $background-color_2;
	padding-bottom: 3em;
	padding-top: 1em;
	.titre1 {
		text-align: center;
		font-weight: bold;
		font-family: $font-family_1;
		font-size: 26px;
		cursor: pointer;
		& :hover{
			background-color: $color_primaire;
		}
	}
	p {
		text-align: center;
		margin-top: 0;
		color: $color_1;
		font-size: 18px;
		cursor: pointer;}}/*
	.b1 {
		border-radius: 2.8em;
		color: $color_2;
		background: linear-gradient(#9356DC, #FF79DA);
		padding: 1em;
		width: 15em;
		font-size: 16px;
		font-weight: bold;
		border: none;
		box-shadow: 0px 3px 4px rgba(0, 0, 0,0.4);
		cursor: pointer;
		& :hover{opacity: 0.8;}
	}
}
.button-contain1 {
	&:hover {
		border: #9356DC 2px solid;
	}
}
.fonctionnement-section {
	display: flex;
	justify-content: center;
}
.fonctionnement {
	display: flex;
	flex-direction: column;
	width: 90%;
	h2 {
		font-weight: bold;
		font-family: $font-family_1;
	}
}
.mes-bouttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 4em;
	width: 100%;
	gap: 1.5em;
	button {
		display: flex;
		border-radius: 1.3em;
		padding: 0.8em;
		width: 100%;
		align-items: center;
		gap: 0.9em;
		border: none;
		position: relative;
		cursor: pointer;
		background-color: $background-color_3;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	}
	p {
		font-family: $font-family_1;
		font-size: 14.5px;
		font-weight: bold;
	}
	i {
		color: $color_3;
		padding-left: 0.9em;
	}
	.number {
	background-color: $background-primaire;
	border-radius: 50%;
	padding: 0.3em 0.5em 0.3em 0.5em;
	position: absolute;
	left: -0.6em;
	color: $color_2;
	font-weight: bold;
}
}
.restaurants-section {
	display: flex;
	flex-direction: column;
	padding-top: 4em;
	width: 100%;
	background-color: $background-color_3;
	padding-bottom: 4em;
	align-items: center;
}
.restaurants {
	display: flex;
	flex-direction: column;
	width: 90%;
	h2 {
		margin-top: 0;
		font-family: $font-family_1;
		font-weight: bold;
		font-size: 26px;
	}
	a {
		text-decoration: none;
	}
	.card {
		width: 100%;
		height: 15em;
		border-radius: 25px;
		background-color: $background-color_5;
	}
	img {
		width: 100%;
		height: 10em;
		border-radius: 25px 25px 0px 0px;
	}
}
.restaurant-cards {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	width: 100%;
}
.card-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color_4;
	position: relative;
	font-family: $font-family_1;
	p {
		margin: 0;
		padding-left: 0.5em;
		font-size: 20px;
	}
	h3 {
		margin: 0;
		padding-left: 0.5em;
		padding-top: 0.5em;
		font-weight: bold;
		font-size: 20px;
	}
}
.like1 {
	display: flex;
	align-items: center;
	i {
		position: absolute;
		font-size: 25px;
		right: 1rem;
	}
}
.heart2 {
	opacity: 0;
	transition-property: all;
	transition-duration: 500ms;
	opacity: 0;
	transition-property: all;
	transition-duration: 500ms;
	&:hover {
		color: $color_primaire;
		opacity: 1;
		color: $color_primaire;
		opacity: 1;
	}
}
.card-txt {
	display: flex;
	flex-direction: column;
}
.img-new {
	position: relative;
	p {
		position: absolute;
		right: 1em;
		text-decoration: none;
		color: $color_6;
		font-size: 14px;
		border: 1px solid #99E2D0;
		border-radius: 2px;
		background-color: $background-color_6;
		padding: 0.2em;
		font-family: $font-family_1;
	}
}
footer {
	background-color: $background-color_7;
	color: $color_2;
	a {
		text-decoration: none;
		color: $color_2;
		font-family: $font-family_1;
		font-size: 14px;
	}
	i {
		padding-right: 0.7em;
		font-size: 12px;
	}
	h3 {
		font-family: $font-family_2;
		margin-bottom: 0;
		padding-left: 1em;
		padding-top: 1em;
		font-size: 14px;
	}
	>ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding-left: 1em;
		padding-bottom: 2em;
	}
}
.like1 {
	display: flex;
	align-items: center;
	i {
		position: absolute;
		font-size: 25px;
		right: 1rem;
	}
}
.heart2 {
	opacity: 0;
	transition-property: all;
	transition-duration: 500ms;
	&:hover {
		color: $color_primaire;
		opacity: 1;
	}
}
@keyframes validation {
	0%{
		width: 2m;
	}
	100%{
		width: 3.5em;
	}
}
@keyframes visibilite {
0%{ 
	opacity: 0;
}	
100%{
	opacity: 1;
}
	
}

@-webkit-keyframes text-apparition
{
	0%
	{
		-webkit-transform: translate(-400px);
		opacity: 0.3;
	}
	100%
	{
		-webkit-transform: translate(0);
		opacity: 1;
}}
@media (min-width: 768px) {
	.mes-bouttons {
		flex-direction: row;
		.button{

		}
	}
	.restaurant-cards {
		display: grid;
		grid-template-columns: 45% 45%;
		grid-template-rows: 50% 50%;
		justify-content: space-between;
	}
	footer {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 3em;
		>ul {
			flex-direction: row;
			padding-bottom: 0;
		}
		h3 {
			padding-top: 0;
			padding-right: 4em;
			margin: 0;
		}
	}
}*/