.like1 {
	display: flex;
	align-items: center;
	i {
		position: absolute;
		font-size: 25px;
		right: 1rem;
	}
}
.heart2 {
	opacity: 0;
	transition-property: all;
	transition-duration: 500ms;
	&:hover {
		color: $color_primaire;
		opacity: 1;
	}
}
@keyframes validation {
	0%{
		width: 2m;
	}
	100%{
		width: 3.5em;
	}
}
@keyframes visibilite {
0%{ 
	opacity: 0;
}	
100%{
	opacity: 1;
}
	
}

@-webkit-keyframes text-apparition
{
	0%
	{
		-webkit-transform: translate(-400px);
		opacity: 0.3;
	}
	100%
	{
		-webkit-transform: translate(0);
		opacity: 1;
}}