/*keyframes pour la page d'accueil qui reste transparente
pendant le temps où le loader est en jeu. Lorsque je mets 
simplement 0% et 100%, la transparence ne reste pas suffisemment
longtemps d'où les 20% et 70%*/
@keyframes loading-wait{ /*ici la page d'accueil "atend"*/
	0%{opacity: 0;}
	20%{opacity: 0;}
	70%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes loader{ /*ici les dot font les mouvements de déplacement*/
	100%{transform: translateY(-30px);}
}
@keyframes opacity{/* rend les dot visible plus transparents*/
	0%{opacity: 1;}
	90%{opacity: 1;}
	100%{opacity: 0;}
}

/*cette animation agit sur la case verte qui valide
le choix d'un plat en lui donnant un effet d'ouverture au survol*/
@keyframes validation {
	0%{width: 2m;}
	100%{width: 3.5em;}
}
/*l'icône verte est toujours visible avec le width 0
de son parent donc je lui applique une animation qui la rend transparent
et qui au survol (donc en même temps que l'animation VALIDATION
devient visible afin de correspondre à la maquette*/
@keyframes visibilite {
0%{ opacity: 0;}	
100%{opacity: 1;}	
}

/* ELEMENTS SUR LESQUELS LES ANIMATIONS AGISSENT*/

.card_menu:hover i {
    animation: visibilite 0ms;
    animation-fill-mode: forwards;
}
.cards1{
    .card_content{
    -webkit-animation: text-apparition 500ms;
    }
}
.cards2{
    .card_content{
    -webkit-animation: text-apparition 500ms;
    -webkit-animation-delay: 500ms;
    -webkit-animation-fill-mode: forwards;

    }
}
.cards3{
    .card_content{
        -webkit-animation: text-apparition 500ms;
        -webkit-animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;

    }
}